body{
    font-family: Areal, serif;
    padding: 0;
    margin: 0;
}

.container{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top:0;
}
.container .container-content{
    margin:40px auto 0 auto;
    width:700px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

#client_info{

    font-weight: bolder;
    color: red;

}

#popup{

    padding:10px;
    border-radius:5px;
    text-align: center;
    display: none;
}

ol {
    counter-reset:myCounter;
    margin-left:0;
    padding-left:5px;
    color: rgb(100,100,100);
}

li {
    position: relative;
    padding-left: 25px;
    margin: 0.45em 0;
    list-style: none;
    line-height: 1.8em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

li:hover {
    color: rgb(0,0,0);
}

li:before {
    content:counter(myCounter);
    counter-increment:myCounter;
    position:absolute;
    top:0;
    left:0;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    padding:0px;
    color:#fff;
    background:#2980b9;
    font-weight:bold;
    text-align:center;
    border-radius: .9em;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

li:hover:before {
    background-color: #2ecc71;
}

li li:before{
    background-color: #3498db;
}

li:after {
    position: absolute;
    top: 2.1em;
    left: 0.9em;
    width: 2px;
    height: calc(100% - 2em);
    content: '';
    background-color: rgb(203, 203, 203);
    z-index: 0;
}

li:hover:after {
    background-color: #2ecc71;
}

li li {
    font-size: 0.8em;
}


.lilink{
    color: black;
    text-decoration: none;
    border: 2px rgba(227, 216, 186, 0.6) solid;
    border-radius: 70em;
    padding: 6px;
    background: rgba(227, 192, 184, 0.39);
    font-family: Areal, serif;
    font-size: medium;

}


.lilink:hover{
    font-weight: 200;
    background: rgba(155, 150, 148, 0.39);
}

button:hover{
    cursor: pointer;
}

.liorderinfobox{
    display: inline-block;
}

.libuttonbox{
    float: right;
    padding-right: 20px;
}


.resultBox{
    position: relative;

    padding-top: 30px;

    font-weight: bolder;

    vertical-align: 100px;

}

.success{
    color: green;
}

.fail{

    color: red;

}